<header>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>KodaTube</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Create">
      <mat-icon>videocam</mat-icon>
    </button>
    <button mat-icon-button aria-label="Apps">
      <mat-icon>apps</mat-icon>
    </button>
    <button mat-icon-button aria-label="Notifications" color="accent">
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button aria-label="Profile">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>  
</header>

<div>
  
</div>