<header class="toolbar">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>KodaTube</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Create">
      <mat-icon>videocam</mat-icon>
    </button>
    <button mat-icon-button aria-label="Apps">
      <mat-icon>apps</mat-icon>
    </button>
    <button mat-icon-button aria-label="Notifications" color="accent">
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button aria-label="Profile">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>  
</header>





<!-- <mat-nav-list>
  <mat-list-item class="list-item">
    <span matLine>Title</span>
    <button mat-icon-button>
      <mat-icon>info</mat-icon>
    </button>
    <a matListItemTitle href="...">Test</a>
    
  </mat-list-item>
</mat-nav-list> -->

<mat-nav-list>
  <!-- <mat-list-item> -->
    <a mat-list-item href="google.com">
      <mat-icon matListItemIcon>home</mat-icon>
      <span matLine>bone</span>
      <!-- <span matSubheader>cone</span> -->
    </a>
  <!-- </mat-list-item> -->
</mat-nav-list>

<!-- <mat-nav-list>
  <mat-list-item>
    <span mat-list-item>
      <mat-icon matListItemIcon>info</mat-icon>
      <span matLine>dog</span>
    </span>
  </mat-list-item>
</mat-nav-list> -->

<mat-list>
  <mat-list-item>
      <mat-icon matListItemIcon>home</mat-icon>
      <span matLine>gome</span>
  </mat-list-item>
</mat-list>
